black
clearml~=1.18.0
efficientnet_pytorch
flake8
numpy~=2.2.5
opencv-python~=4.11.0.86
pandas~=2.2.3
python-dotenv
segmentation_models_pytorch
torch~=2.7.0
torchvision~=0.22.0
synapseclient
isort
segmentation_models_pytorch~=0.5.0
matplotlib~=3.10.1
tqdm~=4.67.1